.container {
  width: 80%;
  margin-bottom: 20px;
}

.container .titleContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container .titleContainer .sectionTitle {
  font-size: 50px;
  position: relative;
}

.container .titleContainer > ::before {
  content: "";
  position: absolute;
  width: 50%;
  top: 110%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  text-align: center;
  border-color: #d65c5c;
  border-style: solid;
}

.overViewSection {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.overViewSection .overViewCotent {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.overViewSection .overViewCotent .overView {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  border-right: 1px dotted #ccc;
  padding-right: 10px;
}

.overViewSection .overViewCotent .overViewVideo {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 10px;
}

.overViewSection .overViewCotent .overViewVideo ul:nth-child(3) {
  background-color: #5192c1;
  color: #fff;
}

.characterSection {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.characterList {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  grid-column-gap: 10px;
}

.moreContainer {
  position: relative;
  width: 100%;
}

.moreContainer .more {
  position: absolute;
  right: 5%;
  top: 20px;
  cursor: pointer;
  color: #5e5e5e;
  text-decoration: none;
}

.moreContainer .more span {
  margin-right: 10px;
}

.myImg {
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.myImg:hover {
  opacity: 0.7;
}

.modal {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 1;
  padding-top: 100px;
  overflow: auto;
}

.modal .modal-content {
  margin: auto;
  display: block;
  width: 100%;
  max-width: 700px;
}

.modal #caption {
  margin: auto;
  display: block;
  font-size: 20px;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #fff;
  padding: 10px 0;
  height: 150px;
}

.modal .close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.modal .close:hover, .modal .close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

.modal-content, #caption {
  -webkit-animation-name: zoom;
          animation-name: zoom;
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes zoom {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.igSection {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}

.igSection .photosContainer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.igSection .photosContainer .photoItem {
  width: 250px;
  height: 250px;
  margin: 10px 10px;
  overflow: hidden;
  position: relative;
}

.igSection .photosContainer .photoItem .photo {
  background: url("../img/photo1.jpg");
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: cnter;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.igSection .photosContainer .photoItem .photo .filter1 {
  display: none;
}

.igSection .photosContainer .photoItem .photo .filter1 .smalltag {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 40%;
}

.igSection .photosContainer .photoItem .photo .filter1 .description {
  color: #fff;
  font-size: 12px;
  padding: 5px 30px;
}

.igSection .photosContainer .photoItem .photo:hover .filter1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.igSection .photosContainer .photoItem .photo2 {
  background: url("../img/photo2.jpg");
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.igSection .photosContainer .photoItem .photo3 {
  background: url("../img/photo3.jpg");
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.igSection .photosContainer .photoItem .photo4 {
  background: url("../img/photo4.jpg");
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.igSection .photosContainer .photoItem .photo5 {
  background: url("../img/photo5.jpg");
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.igSection .photosContainer .photoItem .photo6 {
  background: url("../img/photo6.jpg");
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.igSection .photosContainer .photoItem .photo7 {
  background: url("../img/photo7.jpg");
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.igSection .photosContainer .photoItem .photo8 {
  background: url("../img/photo8.jpg");
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.igSection .photosContainer .photoItem .photo9 {
  background: url("../img/photo9.jpg");
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.igSection .photosContainer .photoItem .photo10 {
  background: url("../img/photo10.jpg");
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.igSection .photosContainer .photoItem .photo11 {
  background: url("../img/photo11.jpg");
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.igSection .photosContainer .photoItem .photo12 {
  background: url("../img/photo12.jpg");
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.igSection .photosContainer .photoItem .postType {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  font-size: 20px;
  color: #fff;
  text-shadow: 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.2);
}

.igSection .photosContainer .photoItem:hover .photo {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

@media screen and (max-width: 900px) {
  .container .titleContainer .sectionTitle {
    font-size: 40px;
  }
  .overViewSection .overViewCotent {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .overViewSection .overViewCotent .overView {
    border: none;
    border-bottom: 1px dotted #ccc;
    padding-bottom: 20px;
  }
  .characterList {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 10px;
  }
  .moreContainer a span {
    font-size: 0.9rem;
  }
  iframe {
    width: 300px;
  }
}

@media screen and (max-width: 600px) {
  .container .titleContainer .sectionTitle {
    font-size: 30px;
  }
  .characterList {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .igSection .photosContainer .photoItem {
    width: 350px;
    height: 350px;
  }
  .moreContainer a span {
    font-size: 0.8rem;
  }
  .moreContainer a span iframe {
    width: 250px;
  }
}
/*# sourceMappingURL=index.css.map */